<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">My List</h3>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>
  <div class="container mt-3">
    <div class="row">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col-3 d-flex">
          <div class="flex-fill">
            <div class="card h-100">
              <%= image_tag bookmark.movie.poster_url, alt: "movie poster", class:"card-img-top" %>
              <div class="card-body">
                <h4 class="card-title text-center"><%= bookmark.movie.title%></h4>
                <p class="card-text text-center"><%= bookmark.movie.rating%></p>
                <p class="card-text"><%= bookmark.movie.overview%></p>
              </div>
              <div class="card-footer d-flex justify-content-center">
                <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger w-100" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
